spring:
  application:
    name: gateway
  cloud:
    gateway:
      route:
        - id: user-service
          url: lb://USER-SERVICE
          predicates:
            - Path=/api/users/**
server:
  port: 8080
