spring:
  main:
    web-application-type: reactive
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/realms/fitness-OAuth2/protocol/openid-connect/certs

#  cloud:
#    gateway:
#      routes:
#        - id: user-service
#          uri: lb://USER-SERVICE
#          predicates:
#            - Path=/api/users/**
#
#        - id: activity-service
#          uri: lb://ACTIVITY-SERVICE
#          predicates:
#            - Path=/api/activities/**
#
#        - id: ai-service
#          uri: lb://AI-SERVICE
#          predicates:
#            - Path=/api/recommendations/**
server:
  port: 8000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
#  instance:
#    hostname: localhost
#    prefer-ip-address: true
#    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
  endpoint:
    gateway:
      enabled: true
logging:
  level:
    org.springframework.cloud.gateway: DEBUG

